<div class="top-bottom-rp">
    <div class="tools">
        <input type="checkbox" name="" id="check">
        <h6>Select All Mails</h6>
    </div>
    <div class="search-box">
        <i class="ri-search-line"></i>
        <input type="search" name="search" id="searchbox" placeholder="Search">
        <div class="arrow"> </div>
    </div>
    <div class="tools">
        <h6>1 -35 of 35</h6>
        <i class="ri-arrow-left-circle-fill"></i>
        <i class="ri-arrow-right-circle-fill"></i>
    </div>

</div>